<!DOCTYPE html>
<html>
    <head>
        <title>Understand Neural Network</title>
        <link rel="stylesheet" href={{ url_for('static', filename="styles.css") }}>
    </head>
    <body>
        <h2> Visualization of Attribution</h2>
        <div>
            <p> Classification prediction: {{ cls }}</p>
            <p> Score: {{ clsScore }} </p>
        </div>
        <div>
            <div class="image-frame">
                <div>
                    <img src="/img/{{ imgFn+'crop.jpg' }}"/>
                </div>
                <div> 
                    <label>Cropped image</label>
                </div>
            </div>
            <div class="image-frame">
                <div>
                    <img src="/img/{{ imgFn+'igrad.jpg' }}"/>
                </div>
                <div>
                    <label>IG result</label>
                </div>
            </div>
            <div class="image-frame">
                <div>
                    <img src="/img/{{ imgFn+'grad.jpg' }}"/>
                </div>
                <div>
                    <label>Basic gradient result</label>
                </div>
            </div>

        </div>
    </body>
</html>
